@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

:root {
	--bg: #01345B;
	--text: #ffffff;
	--accent: #363538;
	--odd: #FFCF43;
	--even: #5CE0D8;
	--imgbg: #ffffff;
}

* {
	font-family: "Raleway";
}

body {
	background-color: var(--bg);
	background-image: url(../../../dist/cap_bg.png);
	background-repeat: round;
	background-size: calc(3.75vw + 38.74px);
}

/*----------- title -----------*/
h1 {
	font-size: calc(2.53vw + 27.40px);
	color: var(--text);
}

/*----------- No Students Available -----------*/
h5 {
	color: var(--text);
}

/*----------- search inputs -----------*/
.container .row > div:first-child > div:first-child > input[name^="searchBy"], 
input[type="text"]:not(.brower-default):focus:not([readonly]) {
	border-bottom-color: var(--text);
}

input[name^="searchBy"] + label, 
input[type="text"], 
input[type="text"]:not(.brower-default):focus:not([readonly]) + label {
	color: var(--text);
}

/*----------- open/close buttons -----------*/
div.row.right-align > button:nth-child(2) {
	margin-left: 1em;
}

.btn, .btn:focus {
	background-color: var(--text);
	color: var(--accent);
}

.btn:hover {
	background-color: var(--accent);
	color: var(--text);
}

/*----------- ul.collapsible -----------*/
.collapsible {
	border: none;
	margin: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

/*----------- li.card -----------*/
.card {
	padding-top: 1rem;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
	-webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card:nth-child(odd) > .collapsible-header, .card:nth-child(odd) {
	background-color: var(--odd);
}

.card:nth-child(even) > .collapsible-header, .card:nth-child(even) {
	background-color: var(--even);
}

/*----------- img area -----------*/
.collapsible-header > div:first-child {
	padding: 0;
}

.collapsible-header > div:first-child > img {
	background-color: var(--imgbg);
	border: 1px solid black; 
	border-radius: 50%;
	image-rendering: pixelated;
	width: 100%;
}

/*----------- collapsible-header -----------*/
.collapsible-header > div:nth-child(2) > div:first-child {
	margin-bottom: 0;
}

.collapsible-header > div:nth-child(2) > div:first-child > p {
	font-size: calc(2.35vw + 12.96px);
	font-weight: 900;
}

.collapsible-header > div:nth-child(2) > div:first-child > button {
	border: none;
	background: none;
}

.collapsible-header > div:nth-child(2) > div:first-child > button > span {
	color: var(--bg);
	font-size: calc(3.28vw + 19.15px);
}

.card > div:nth-child(3) > div:nth-child(2) > ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8rem;
}

.card > div:nth-child(3) > div:nth-child(2) > ul p {
	border: 1px solid var(--bg);
	padding: 0.4rem 0.9rem;
}

.card > div:nth-child(3) > div:nth-child(2) > div {
	margin-top: 0.8rem;
}

/*----------- tag area -----------*/
form > div:first-child > .input-field > label, 
form > div:first-child > .input-field > input[type="text"], 
form > div:first-child > .input-field > input[type="text"]:not(.brower-default):focus:not([readonly]) + label {
	color: var(--bg);
}

form > div:first-child > .input-field > input[type="text"], 
form > div:first-child > .input-field > input[type="text"]:not(.brower-default):focus:not([readonly]) {
	border-bottom-color: var(--bg);
}	

/*----------- common styling -----------*/
.input-field input[type="text"],
.input-field input[type="text"]:not(.brower-default):focus:not([readonly]) {
	box-shadow: none;
	margin-bottom: 0;
}

.collapsible-header, .collapsible-body {
	border-bottom: none;
} 

.collapsible-header, .collapsible-body, .card > div:nth-child(3) {
	margin-bottom: 0;
}

.card p {
	color: var(--bg);
	font-size: calc(0.66vw + 12.03px);
	margin: 0;
	overflow-wrap: break-word;
}

/*-- collapsible-body & tag area --*/
.collapsible-body, .card > div:nth-child(3) {
	padding: 0 1rem 1rem 1rem;
}

div.row.right-align > button,
.card > div:nth-child(3) > div:nth-child(2) > ul p {
	border-radius: 0.4rem;
}

@media screen and (min-width: 601px) {
	.card {
		padding-left: calc(9.38vw - 28.14px);
		padding-right: calc(9.38vw - 28.14px);
	}
}
