@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

:root {
	--bg: #bf3329;
	--h1: #f1e0c2;
	--input: #20242d;
}

* {
	font-family: "Raleway";
}

body {
	background-color: var(--bg);
}

h1 {
	font-size: calc(2.53vw + 27.40px);
	color: var(--h1);
}

.input-field input[type="text"] {
	border-bottom-color: var(--input);
	margin-bottom: 0;
}

.input-field label {
	color: var(--input);
}

div.row.right-align > button:nth-child(2) {
	margin-left: 1em;
}

.collapsible-header, .collapsible-body {
	border-bottom: none;
}

.collapsible-body, section > div:nth-child(3) {
	padding: 1rem;
}

.collapsible-header, .collapsible-body, section > div:nth-child(3) {
	margin-bottom: 0;
}

section > div:first-child > div:first-child {
	padding: 0;
}

section > div:first-child > div:first-child > img {
	border: 1px solid black; 
	border-radius: 50%;
	width: 100%;
}

section > div:first-child > div:nth-child(2) > div:first-child > p {
	font-size: calc(0.75vw + 21.75px);
	font-weight: 900;
}

section > div:first-child > div:nth-child(2) > div:first-child > button {
	border: none;
	background: none;
}

section > div:first-child > div:nth-child(2) > div:first-child > button > span {
	font-size: calc(0.56vw + 32.31px);
}

section p {
	margin: 0;
}

section > div:nth-child(3) > div:nth-child(2) > ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8rem;
}

section > div:nth-child(3) > div:nth-child(2) > ul p {
	border: 1px solid black;
	padding: 0.5rem 1rem;
}

section > div:nth-child(3) > div:nth-child(2) > div {
	margin-top: 0.8rem;
}
